@using Microsoft.EntityFrameworkCore.Metadata.Internal

@{
    ViewBag.Title = "Orders";
}

@model IEnumerable<INTEX2._0.Models.OrderPrediction>

<div class="row">
    <h2 class="title text-center" style="margin-bottom: 1em;">Review Orders</h2>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <table class="table table-borderless">
            <thead>
            <tr class="thead_row">
                <th class="table_heading">Order #</th>
                <th class="table_heading">Customer ID</th>
                <th class="table_heading">Date</th>
                <th class="table_heading">Amount</th>
                <th class="table_heading">Fraud</th>
                <th class="table_heading">View Details</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in @Model)
            {
                <tr class="text-center">
                    <td>@order.Orders.TransactionId</td>
                    <td>@order.Orders.CustomerId</td>
                    <td>@order.Orders.Date</td>
                    <td>$@order.Orders.Amount.00</td>
                        @if (@order.Prediction == "Fraud")
                    {
                        <td class="fraud_text">Potential Fraud</td>
                        <td>
                            <a class="fraud_link" asp-controller="Admin" asp-action="OrderDetails" asp-route-id="@order.Orders.TransactionId">
                                View Details
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F2705E" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                </svg>
                            </a>
                        </td>
                    }
                    @* else
                    @* { *@
                    @*     <td>Safe</td> *@
                    @*     <td> *@
                    @*         <a class="safe_text" asp-controller="Admin" asp-action="OrderDetails" asp-route-id="@order.TransactionId"> *@
                    @*             View Details *@
                    @*         </a> *@
                    @*     </td> *@
                    @* } *@
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

