@model Order

<div class="row text-center">
    <h1 class="title">Order Details Page</h1>
</div>
<div class="row justify-content-center align-content-center">
    <div class="col-md-2">
        <div class="filter_box">
        <form method="post">
            <!-- Hidden field to send the UserId along with the form submission -->
            <input type="hidden" asp-for="@Model.TransactionId" />

            <div class="form-group">
                <label asp-for="@Model.TransactionId">Transaction ID</label>
                <input asp-for="@Model.TransactionId" class="form-control" disabled/>
                <span asp-validation-for="@Model.TransactionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Date">Date</label>
                <input asp-for="@Model.Date" class="form-control" disabled />
                <span asp-validation-for="@Model.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EntryMode">Entry Mode</label>
                <input asp-for="@Model.EntryMode" class="form-control" disabled />
                <span asp-validation-for="@Model.EntryMode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CountryOfTransaction">Country of Transaction</label>
                <input asp-for="@Model.CountryOfTransaction" class="form-control" disabled />
                <span asp-validation-for="@Model.CountryOfTransaction" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ShippingAddress">Shipping Address</label>
                <input asp-for="@Model.ShippingAddress" class="form-control" disabled />
                <span asp-validation-for="@Model.ShippingAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.TypeOfCard">Type of Card</label>
                <input asp-for="@Model.TypeOfCard" class="form-control" disabled />
                <span asp-validation-for="@Model.TypeOfCard" class="text-danger"></span>
            </div>

            <p class="fraud_text">Fraudulent Order</p>


            <button type="submit" class="btn btn-primary main_btn">Decline</button>
            <a asp-action="Orders" class="btn btn-secondary sub_btn">Back</a>
        </form>
        </div>
    </div>
</div>