@using INTEX2._0.Models
@{
    ViewBag.Title = "Users";
}

<div class="row">
    <h1 class="title text-center" style="margin-bottom: 1em;">@ViewBag.Title</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <table class="table table-borderless">
            <thead class="thead_row">
            <tr>
                <th class="table_heading">Username</th>
                <th class="table_heading">Roles</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in ViewBag.Users)
            {
            <tr class="text-center">
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>
                    <a class="btn btn-primary sub_btn" asp-controller="Admin" asp-action="UpdateUser" asp-route-id="@user.UserID">
                        Edit
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary warning_btn" asp-controller="Admin" asp-action="RemoveUser" asp-route-id="@user.UserID">
                        Delete
                    </a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

