@* @{ *@
@*     ViewBag.Title = "Cart"; *@
@* } *@
@* *@
@* @model Cart *@
@* *@
@* <h1>Shopping Cart</h1> *@
@* <table class="table table-bordered table-striped"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th>Product</th> *@
@*         <th>Price</th> *@
@*         <th>Quantity</th> *@
@*         <th>Subtotal</th> *@
@*         $1$ delete icon #1# *@
@*         <th></th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @{ ViewBag.Total = 0; *@
@*        foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>()) *@
@*        { *@
@*            <tr> *@
@*                <td>@l.Products.Name</td> *@
@*                <td>@l.Quantity</td> *@
@*                <td>@l.Products.Price</td> *@
@*                <td>@((l.Products.Price * l.Quantity).ToString("c"))</td> *@
@*            </tr> *@
@*            total += l.Quantity; *@
@*        } *@
@*     } *@
@*     </tbody> *@
@*     <table class="table table-borderless"> *@
@*         <thead> *@
@*         <tr> *@
@*             <th class="text-left">Cart Total</th> *@
@*             <th></th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*         <tr> *@
@*             <td class="text-left">Subtotal</td> *@
@*             <td class="text-right">@ViewBag.Total.ToString("c")</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td class="text-left">Shipping</td> *@
@*             <td class="text-right">Free</td> *@
@*         </tr> *@
@*         <tr> *@
@*             <td class="text-left">Total</td> *@
@*             <td class="text-right">@ViewBag.Total.ToString("c")</td> *@
@*         </tr> *@
@*         </tbody> *@
@*     </table> *@
@* *@
@* </table> *@