@{
    var recommendedIds = (List<INTEX2._0.Models.ProductRecommendation>)ViewBag.ProductRecommendations;
}

@model Products

<div class="container">
    <div class="row justify-content-center" style="margin-top: 5em;">
        <div class="col-md-1 d-flex justify-content-end">
            <a class="btn" asp-controller="Home" asp-action="Shop" style="height: 3em;">
                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
            </a>
        </div>
        <div class="col-md-4 d-flex justify-content-center" style="margin-top: 1em;">
            <img class="product_img_box" src="@Model.ImgLink" alt="Image of @Model.Name"/>
        </div>
        <div class="col-md-5">
            <h1 style="margin-right: 1em;">@Model.Name</h1>
            <p class="price_text">$@Model.Price.00</p>
            <p class="product_subtitle">@Model.ShortDescription</p>
            <form id="@Model.ProductId" method="post" asp-area="Cart" asp-page="/Cart" asp-route-productId="@Model.ProductId">
                <input name="quantity" type="number" step="1" value="1" min="1" style="text-align: center; width: 3em; border-radius: 1em; margin-right: 2em;">
                <button type="submit" class="btn btn-primary main_btn">Add to Cart</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 5em;">
            @foreach (var recommendation in recommendedIds)
            {
                var filteredProducts = ((IEnumerable<Products>)ViewBag.Products)
                .Where(p => p.ProductId == recommendation.RecommendedId1 ||
                p.ProductId == recommendation.RecommendedId2 ||
                p.ProductId == recommendation.RecommendedId3);

                <div class="row justify-content-center">
                    <h1 class="title text-center">Top Products</h1>
                        @foreach (var product in filteredProducts)
                        {
                            <a class="product_box" asp-controller="Home" asp-action="Product" asp-route-id="@product.ProductId" style="text-decoration: none;">
                                <div class="product_img_box">
                                    <img class="product_img" src="@product.ImgLink" />
                                </div>
                                <p class="product_name">@product.Name</p>
                                <p class="product_price">$@product.Price.00</p>
                            </a>
                        }
                    }
                </div>
            }
        </div>
    </div>
<script>
    function toggleVisibility(showId, hideId) {
        var showElement = document.getElementById(showId);
        var hideElement = document.getElementById(hideId);

        // Show the clicked section
        showElement.removeAttribute('hidden');

        // Hide the other section
        hideElement.setAttribute('hidden', '');
    }
</script>
