@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item link_box"><a class="mng_link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item link_box"><a class="mng_link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item link_box"><a class="mng_link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @* @if (hasExternalLogins) *@
    @* { *@
    @*     <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li> *@
    @* } *@
    <li class="nav-item link_box"><a class="mng_link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item link_box"><a class="mng_link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    <div class="row">
        <div class="col d-flex">
            <a class="btn btn-primary sub_btn" style="margin-top: 1em; margin-right: 1em;" asp-controller="Home" asp-action="Index">Go Home</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary warning_btn" style="margin-top: 1em;">Logout</button>
            </form>
        </div>
    </div>
    @* <a class="btn btn-primary warning_btn" style="margin-top: 1em;" asp-area="Identity" asp-page="/Account/Logout">Logout</a> *@
</ul>
